body {
  background-color: hsl(0deg, 0%, 98%);
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
svg,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Remove styling from links */
a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

body {
  background-color: hsl(0deg, 0%, 98%);
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
svg,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Remove styling from links */
a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

.header {
  padding-inline: 2.5rem;
  padding-block: 1rem;
}
.header__logo {
  margin-right: 4rem;
}
.header__nav-link {
  font-size: 15px;
  color: hsl(0deg, 0%, 41%);
}
.header__nav-link:hover, .header__nav-link:focus {
  cursor: pointer;
}
.header__nav-link:hover .nav-link,
.header__nav-link:hover .dropdown__link, .header__nav-link:focus .nav-link,
.header__nav-link:focus .dropdown__link {
  color: hsl(0deg, 0%, 8%);
}
.header__nav-link--outlined {
  padding: 0.7rem 1.2rem;
  border: 2px solid hsl(0deg, 0%, 41%);
  border-radius: 1rem;
}

.dropdown__arrow {
  width: 10px;
  height: 6px;
  background-image: url(../images/icon-arrow-down.svg);
  transform: translateY(-1px);
}

.hamburger {
  display: none;
}

.main {
  justify-content: space-between;
}
.main__left h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}
.main__left p {
  color: hsl(0deg, 0%, 41%);
  width: 70%;
}
.main__left__title {
  margin-top: 5rem;
}

.cta {
  background: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  border-radius: 1rem;
  border: 2px solid hsl(0deg, 0%, 8%);
}
.cta:hover, .cta:focus {
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 8%);
  cursor: pointer;
}

.dropdown {
  display: none;
  cursor: default;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 0.8rem;
  font-size: 13px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.header__dropdown:hover .dropdown__gap, .header__dropdown:hover .dropdown, .header__dropdown:focus .dropdown__gap, .header__dropdown:focus .dropdown,
.dropdown:hover .dropdown__gap,
.dropdown:hover .dropdown,
.dropdown:focus .dropdown__gap,
.dropdown:focus .dropdown,
.dropdown__gap:hover .dropdown__gap,
.dropdown__gap:hover .dropdown,
.dropdown__gap:focus .dropdown__gap,
.dropdown__gap:focus .dropdown {
  display: block;
}
.header__dropdown:hover .dropdown__arrow, .header__dropdown:focus .dropdown__arrow,
.dropdown:hover .dropdown__arrow,
.dropdown:focus .dropdown__arrow,
.dropdown__gap:hover .dropdown__arrow,
.dropdown__gap:focus .dropdown__arrow {
  background-image: url(../images/icon-arrow-up.svg);
  filter: brightness(0) saturate(100%);
}

.dropdown__list__link:hover, .dropdown__list__link:focus, .feature:hover, .feature:focus {
  color: hsl(0deg, 0%, 8%);
  cursor: pointer;
}

.dropdown__gap {
  display: none;
  position: absolute;
  height: 2rem;
  width: 5rem;
}

@media screen and (max-width: 1100px) {
  .header__nav {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
.header {
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  gap: 2.3rem;
  align-items: center;
}

.dropdown__arrow {
  display: inline-block;
}

.main {
  margin: 4rem auto;
  width: min(75rem, 80%);
}
.main__left {
  max-width: 40rem;
  flex-direction: column;
  gap: 3rem;
}
.main__right {
  max-width: 30rem;
}

.cta {
  width: 30%;
  padding: 1rem;
}

.clients-logos {
  width: 80%;
  justify-content: space-between;
  margin-top: 3rem;
}
.clients-logos img {
  object-fit: contain;
}

.header__dropdown {
  position: relative;
}

.dropdown {
  position: absolute;
  padding: 1rem 2rem 1.2rem;
  top: 2rem;
  z-index: 2;
}
.dropdown__list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.feature {
  display: flex;
}
.feature img {
  object-fit: contain;
  margin-right: 0.7rem;
}

.feature__dropdown {
  width: 10rem;
  left: -5rem;
}

.company__dropdown {
  width: 7.8rem;
}

@media screen and (max-width: 1100px) {
  .header {
    padding-block: 1.8rem;
  }
  .main {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    width: 100%;
  }
  .main__left {
    align-items: center;
    gap: 2rem;
  }
  .main__left__title h1 {
    display: inline;
    font-size: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .header {
    padding-block: 1rem;
    padding-inline: 1rem;
  }
  .clients-logos img {
    object-fit: fill;
  }
}/*# sourceMappingURL=main.css.map */